venv/
__pycache__/
*.pyc
log.json
sleep_sessions.json
sleep_state.json
reference_frame.npy
reference_frame_meta.json
recordings/
2026*_*/
roi_frame.jpg
roi_picker.html
settings.json
nanny/
nanny_status.json
